<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>afii10017</key>
	<string>afii10017.glif</string>
	<key>afii10018</key>
	<string>afii10018.glif</string>
	<key>afii10019</key>
	<string>afii10019.glif</string>
	<key>afii10020</key>
	<string>afii10020.glif</string>
	<key>afii10021</key>
	<string>afii10021.glif</string>
	<key>afii10022</key>
	<string>afii10022.glif</string>
	<key>afii10023</key>
	<string>afii10023.glif</string>
	<key>afii10024</key>
	<string>afii10024.glif</string>
	<key>afii10025</key>
	<string>afii10025.glif</string>
	<key>afii10026</key>
	<string>afii10026.glif</string>
	<key>afii10027</key>
	<string>afii10027.glif</string>
	<key>afii10028</key>
	<string>afii10028.glif</string>
	<key>afii10029</key>
	<string>afii10029.glif</string>
	<key>afii10030</key>
	<string>afii10030.glif</string>
	<key>afii10031</key>
	<string>afii10031.glif</string>
	<key>afii10032</key>
	<string>afii10032.glif</string>
	<key>afii10033</key>
	<string>afii10033.glif</string>
	<key>afii10034</key>
	<string>afii10034.glif</string>
	<key>afii10035</key>
	<string>afii10035.glif</string>
	<key>afii10036</key>
	<string>afii10036.glif</string>
	<key>afii10037</key>
	<string>afii10037.glif</string>
	<key>afii10038</key>
	<string>afii10038.glif</string>
	<key>afii10039</key>
	<string>afii10039.glif</string>
	<key>afii10040</key>
	<string>afii10040.glif</string>
	<key>afii10041</key>
	<string>afii10041.glif</string>
	<key>afii10042</key>
	<string>afii10042.glif</string>
	<key>afii10043</key>
	<string>afii10043.glif</string>
	<key>afii10044</key>
	<string>afii10044.glif</string>
	<key>afii10045</key>
	<string>afii10045.glif</string>
	<key>afii10046</key>
	<string>afii10046.glif</string>
	<key>afii10047</key>
	<string>afii10047.glif</string>
	<key>afii10048</key>
	<string>afii10048.glif</string>
	<key>afii10049</key>
	<string>afii10049.glif</string>
	<key>afii10065</key>
	<string>afii10065.glif</string>
	<key>afii10066</key>
	<string>afii10066.glif</string>
	<key>afii10067</key>
	<string>afii10067.glif</string>
	<key>afii10068</key>
	<string>afii10068.glif</string>
	<key>afii10069</key>
	<string>afii10069.glif</string>
	<key>afii10070</key>
	<string>afii10070.glif</string>
	<key>afii10071</key>
	<string>afii10071.glif</string>
	<key>afii10072</key>
	<string>afii10072.glif</string>
	<key>afii10073</key>
	<string>afii10073.glif</string>
	<key>afii10074</key>
	<string>afii10074.glif</string>
	<key>afii10075</key>
	<string>afii10075.glif</string>
	<key>afii10076</key>
	<string>afii10076.glif</string>
	<key>afii10077</key>
	<string>afii10077.glif</string>
	<key>afii10078</key>
	<string>afii10078.glif</string>
	<key>afii10079</key>
	<string>afii10079.glif</string>
	<key>afii10080</key>
	<string>afii10080.glif</string>
	<key>afii10081</key>
	<string>afii10081.glif</string>
	<key>afii10082</key>
	<string>afii10082.glif</string>
	<key>afii10083</key>
	<string>afii10083.glif</string>
	<key>afii10084</key>
	<string>afii10084.glif</string>
	<key>afii10085</key>
	<string>afii10085.glif</string>
	<key>afii10086</key>
	<string>afii10086.glif</string>
	<key>afii10087</key>
	<string>afii10087.glif</string>
	<key>afii10088</key>
	<string>afii10088.glif</string>
	<key>afii10089</key>
	<string>afii10089.glif</string>
	<key>afii10090</key>
	<string>afii10090.glif</string>
	<key>afii10091</key>
	<string>afii10091.glif</string>
	<key>afii10092</key>
	<string>afii10092.glif</string>
	<key>afii10093</key>
	<string>afii10093.glif</string>
	<key>afii10094</key>
	<string>afii10094.glif</string>
	<key>afii10095</key>
	<string>afii10095.glif</string>
	<key>afii10096</key>
	<string>afii10096.glif</string>
	<key>afii10097</key>
	<string>afii10097.glif</string>
	<key>afii61352</key>
	<string>afii61352.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>foundryicon</key>
	<string>foundryicon.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00AD</key>
	<string>uni00A_D_.glif</string>
	<key>uni20BD</key>
	<string>uni20B_D_.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
