<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uni0022</key>
	<dict>
		<key>uni0034</key>
		<integer>-100</integer>
		<key>uni0041</key>
		<integer>-60</integer>
		<key>uni0054</key>
		<integer>50</integer>
		<key>uni005A</key>
		<integer>50</integer>
		<key>uni0410</key>
		<integer>-50</integer>
		<key>uni0414</key>
		<integer>-30</integer>
		<key>uni041B</key>
		<integer>-100</integer>
		<key>uni0422</key>
		<integer>50</integer>
	</dict>
	<key>uni0027</key>
	<dict>
		<key>uni0034</key>
		<integer>-100</integer>
		<key>uni0041</key>
		<integer>-60</integer>
		<key>uni0054</key>
		<integer>50</integer>
		<key>uni005A</key>
		<integer>50</integer>
		<key>uni0410</key>
		<integer>-50</integer>
		<key>uni0414</key>
		<integer>-30</integer>
		<key>uni041B</key>
		<integer>-100</integer>
		<key>uni0422</key>
		<integer>50</integer>
	</dict>
	<key>uni002D</key>
	<dict>
		<key>uni0034</key>
		<integer>-40</integer>
		<key>uni0041</key>
		<integer>-40</integer>
		<key>uni0054</key>
		<integer>-40</integer>
		<key>uni0056</key>
		<integer>-60</integer>
		<key>uni0057</key>
		<integer>-60</integer>
		<key>uni0058</key>
		<integer>-40</integer>
		<key>uni0410</key>
		<integer>-40</integer>
		<key>uni0414</key>
		<integer>-30</integer>
		<key>uni041B</key>
		<integer>-30</integer>
		<key>uni0423</key>
		<integer>-40</integer>
		<key>uni0425</key>
		<integer>-40</integer>
	</dict>
	<key>uni0031</key>
	<dict>
		<key>uni0022</key>
		<integer>-30</integer>
		<key>uni0027</key>
		<integer>-30</integer>
		<key>uni0060</key>
		<integer>-30</integer>
		<key>uni2018</key>
		<integer>-30</integer>
		<key>uni2019</key>
		<integer>-30</integer>
		<key>uni201C</key>
		<integer>-30</integer>
		<key>uni201D</key>
		<integer>-30</integer>
	</dict>
	<key>uni0037</key>
	<dict>
		<key>uni0034</key>
		<integer>-50</integer>
	</dict>
	<key>uni0041</key>
	<dict>
		<key>uni0022</key>
		<integer>-60</integer>
		<key>uni0027</key>
		<integer>-60</integer>
		<key>uni002D</key>
		<integer>-60</integer>
		<key>uni0043</key>
		<integer>-40</integer>
		<key>uni0047</key>
		<integer>-40</integer>
		<key>uni004A</key>
		<integer>-50</integer>
		<key>uni004F</key>
		<integer>-40</integer>
		<key>uni0051</key>
		<integer>-40</integer>
		<key>uni0054</key>
		<integer>-80</integer>
		<key>uni0055</key>
		<integer>-80</integer>
		<key>uni0056</key>
		<integer>-140</integer>
		<key>uni0057</key>
		<integer>-140</integer>
		<key>uni0059</key>
		<integer>-120</integer>
		<key>uni0060</key>
		<integer>-60</integer>
		<key>uni2013</key>
		<integer>-60</integer>
		<key>uni2014</key>
		<integer>-60</integer>
		<key>uni2018</key>
		<integer>-60</integer>
		<key>uni2019</key>
		<integer>-60</integer>
		<key>uni201C</key>
		<integer>-60</integer>
		<key>uni201D</key>
		<integer>-60</integer>
	</dict>
	<key>uni0042</key>
	<dict>
		<key>uni0041</key>
		<integer>-40</integer>
		<key>uni0056</key>
		<integer>-40</integer>
		<key>uni0057</key>
		<integer>-40</integer>
		<key>uni0059</key>
		<integer>-40</integer>
	</dict>
	<key>uni0043</key>
	<dict>
		<key>uni0041</key>
		<integer>-20</integer>
		<key>uni0043</key>
		<integer>-20</integer>
		<key>uni0053</key>
		<integer>-40</integer>
		<key>uni0055</key>
		<integer>-40</integer>
		<key>uni0056</key>
		<integer>-40</integer>
		<key>uni0057</key>
		<integer>-40</integer>
		<key>uni0058</key>
		<integer>-40</integer>
	</dict>
	<key>uni0044</key>
	<dict>
		<key>uni0041</key>
		<integer>-40</integer>
		<key>uni0056</key>
		<integer>-40</integer>
		<key>uni0057</key>
		<integer>-40</integer>
		<key>uni0059</key>
		<integer>-40</integer>
	</dict>
	<key>uni0045</key>
	<dict>
		<key>uni0041</key>
		<integer>-40</integer>
	</dict>
	<key>uni0046</key>
	<dict>
		<key>uni0022</key>
		<integer>50</integer>
		<key>uni0027</key>
		<integer>50</integer>
		<key>uni002C</key>
		<integer>-60</integer>
		<key>uni002E</key>
		<integer>-60</integer>
		<key>uni0041</key>
		<integer>-80</integer>
		<key>uni0060</key>
		<integer>50</integer>
		<key>uni2018</key>
		<integer>50</integer>
		<key>uni2019</key>
		<integer>50</integer>
		<key>uni201A</key>
		<integer>-60</integer>
		<key>uni201C</key>
		<integer>50</integer>
		<key>uni201D</key>
		<integer>50</integer>
		<key>uni201E</key>
		<integer>-60</integer>
		<key>uni2026</key>
		<integer>-60</integer>
	</dict>
	<key>uni0047</key>
	<dict>
		<key>uni0041</key>
		<integer>-40</integer>
		<key>uni0056</key>
		<integer>-40</integer>
		<key>uni0057</key>
		<integer>-40</integer>
		<key>uni0058</key>
		<integer>-30</integer>
		<key>uni0059</key>
		<integer>-40</integer>
	</dict>
	<key>uni004B</key>
	<dict>
		<key>uni002D</key>
		<integer>-40</integer>
		<key>uni0043</key>
		<integer>-30</integer>
		<key>uni0047</key>
		<integer>-30</integer>
		<key>uni004F</key>
		<integer>-30</integer>
		<key>uni0051</key>
		<integer>-30</integer>
		<key>uni0055</key>
		<integer>-30</integer>
		<key>uni0056</key>
		<integer>-30</integer>
		<key>uni0057</key>
		<integer>-30</integer>
		<key>uni0059</key>
		<integer>-30</integer>
		<key>uni2013</key>
		<integer>-40</integer>
		<key>uni2014</key>
		<integer>-40</integer>
	</dict>
	<key>uni004C</key>
	<dict>
		<key>uni0022</key>
		<integer>-60</integer>
		<key>uni0027</key>
		<integer>-60</integer>
		<key>uni0054</key>
		<integer>-40</integer>
		<key>uni0055</key>
		<integer>-40</integer>
		<key>uni0056</key>
		<integer>-80</integer>
		<key>uni0057</key>
		<integer>-80</integer>
		<key>uni0059</key>
		<integer>-60</integer>
		<key>uni0060</key>
		<integer>-60</integer>
		<key>uni2018</key>
		<integer>-60</integer>
		<key>uni2019</key>
		<integer>-60</integer>
		<key>uni201C</key>
		<integer>-60</integer>
		<key>uni201D</key>
		<integer>-60</integer>
	</dict>
	<key>uni004F</key>
	<dict>
		<key>uni0041</key>
		<integer>-20</integer>
		<key>uni004A</key>
		<integer>-30</integer>
		<key>uni0056</key>
		<integer>-60</integer>
		<key>uni0057</key>
		<integer>-60</integer>
		<key>uni0058</key>
		<integer>-40</integer>
		<key>uni0059</key>
		<integer>-40</integer>
	</dict>
	<key>uni0050</key>
	<dict>
		<key>uni0022</key>
		<integer>50</integer>
		<key>uni0027</key>
		<integer>50</integer>
		<key>uni002C</key>
		<integer>-60</integer>
		<key>uni002E</key>
		<integer>-60</integer>
		<key>uni0041</key>
		<integer>-60</integer>
		<key>uni0056</key>
		<integer>-40</integer>
		<key>uni0057</key>
		<integer>-40</integer>
		<key>uni0058</key>
		<integer>-40</integer>
		<key>uni0060</key>
		<integer>50</integer>
		<key>uni2018</key>
		<integer>50</integer>
		<key>uni2019</key>
		<integer>50</integer>
		<key>uni201A</key>
		<integer>-60</integer>
		<key>uni201C</key>
		<integer>50</integer>
		<key>uni201D</key>
		<integer>50</integer>
		<key>uni201E</key>
		<integer>-60</integer>
		<key>uni2026</key>
		<integer>-60</integer>
	</dict>
	<key>uni0051</key>
	<dict>
		<key>uni0041</key>
		<integer>-40</integer>
		<key>uni0056</key>
		<integer>-60</integer>
		<key>uni0057</key>
		<integer>-60</integer>
		<key>uni0059</key>
		<integer>-60</integer>
	</dict>
	<key>uni0052</key>
	<dict>
		<key>uni004A</key>
		<integer>-20</integer>
		<key>uni0054</key>
		<integer>-30</integer>
		<key>uni0056</key>
		<integer>-60</integer>
		<key>uni0057</key>
		<integer>-60</integer>
		<key>uni0059</key>
		<integer>-60</integer>
	</dict>
	<key>uni0053</key>
	<dict>
		<key>uni0049</key>
		<integer>-20</integer>
		<key>uni004A</key>
		<integer>-20</integer>
		<key>uni0056</key>
		<integer>-60</integer>
		<key>uni0057</key>
		<integer>-60</integer>
		<key>uni0059</key>
		<integer>-60</integer>
	</dict>
	<key>uni0054</key>
	<dict>
		<key>uni0022</key>
		<integer>50</integer>
		<key>uni0027</key>
		<integer>50</integer>
		<key>uni002C</key>
		<integer>-60</integer>
		<key>uni002D</key>
		<integer>-40</integer>
		<key>uni002E</key>
		<integer>-60</integer>
		<key>uni0041</key>
		<integer>-60</integer>
		<key>uni0060</key>
		<integer>50</integer>
		<key>uni2013</key>
		<integer>-40</integer>
		<key>uni2014</key>
		<integer>-40</integer>
		<key>uni2018</key>
		<integer>50</integer>
		<key>uni2019</key>
		<integer>50</integer>
		<key>uni201A</key>
		<integer>-60</integer>
		<key>uni201C</key>
		<integer>50</integer>
		<key>uni201D</key>
		<integer>50</integer>
		<key>uni201E</key>
		<integer>-60</integer>
		<key>uni2026</key>
		<integer>-60</integer>
	</dict>
	<key>uni0055</key>
	<dict>
		<key>uni0041</key>
		<integer>-60</integer>
	</dict>
	<key>uni0056</key>
	<dict>
		<key>uni002C</key>
		<integer>-100</integer>
		<key>uni002D</key>
		<integer>-60</integer>
		<key>uni002E</key>
		<integer>-100</integer>
		<key>uni0041</key>
		<integer>-140</integer>
		<key>uni0043</key>
		<integer>-40</integer>
		<key>uni0047</key>
		<integer>-30</integer>
		<key>uni004F</key>
		<integer>-30</integer>
		<key>uni0051</key>
		<integer>-30</integer>
		<key>uni0053</key>
		<integer>-30</integer>
		<key>uni2013</key>
		<integer>-60</integer>
		<key>uni2014</key>
		<integer>-60</integer>
		<key>uni201A</key>
		<integer>-100</integer>
		<key>uni201E</key>
		<integer>-100</integer>
		<key>uni2026</key>
		<integer>-100</integer>
	</dict>
	<key>uni0057</key>
	<dict>
		<key>uni002C</key>
		<integer>-100</integer>
		<key>uni002D</key>
		<integer>-60</integer>
		<key>uni002E</key>
		<integer>-100</integer>
		<key>uni0041</key>
		<integer>-120</integer>
		<key>uni0043</key>
		<integer>-40</integer>
		<key>uni0047</key>
		<integer>-40</integer>
		<key>uni004F</key>
		<integer>-40</integer>
		<key>uni0051</key>
		<integer>-40</integer>
		<key>uni2013</key>
		<integer>-60</integer>
		<key>uni2014</key>
		<integer>-60</integer>
		<key>uni201A</key>
		<integer>-100</integer>
		<key>uni201E</key>
		<integer>-100</integer>
		<key>uni2026</key>
		<integer>-100</integer>
	</dict>
	<key>uni0058</key>
	<dict>
		<key>uni002D</key>
		<integer>-60</integer>
		<key>uni0043</key>
		<integer>-20</integer>
		<key>uni0047</key>
		<integer>-20</integer>
		<key>uni004F</key>
		<integer>-20</integer>
		<key>uni0051</key>
		<integer>-20</integer>
		<key>uni2013</key>
		<integer>-60</integer>
		<key>uni2014</key>
		<integer>-60</integer>
	</dict>
	<key>uni0059</key>
	<dict>
		<key>uni002C</key>
		<integer>-60</integer>
		<key>uni002D</key>
		<integer>-60</integer>
		<key>uni002E</key>
		<integer>-60</integer>
		<key>uni0041</key>
		<integer>-100</integer>
		<key>uni0043</key>
		<integer>-40</integer>
		<key>uni0047</key>
		<integer>-40</integer>
		<key>uni004F</key>
		<integer>-40</integer>
		<key>uni0051</key>
		<integer>-40</integer>
		<key>uni2013</key>
		<integer>-60</integer>
		<key>uni2014</key>
		<integer>-60</integer>
		<key>uni201A</key>
		<integer>-60</integer>
		<key>uni201E</key>
		<integer>-60</integer>
		<key>uni2026</key>
		<integer>-60</integer>
	</dict>
	<key>uni005A</key>
	<dict>
		<key>uni0041</key>
		<integer>-40</integer>
	</dict>
	<key>uni0060</key>
	<dict>
		<key>uni0034</key>
		<integer>-100</integer>
		<key>uni0041</key>
		<integer>-60</integer>
		<key>uni0054</key>
		<integer>50</integer>
		<key>uni005A</key>
		<integer>50</integer>
		<key>uni0410</key>
		<integer>-50</integer>
		<key>uni0414</key>
		<integer>-30</integer>
		<key>uni041B</key>
		<integer>-100</integer>
		<key>uni0422</key>
		<integer>50</integer>
	</dict>
	<key>uni0401</key>
	<dict>
		<key>uni0423</key>
		<integer>-20</integer>
		<key>uni0424</key>
		<integer>-20</integer>
	</dict>
	<key>uni0410</key>
	<dict>
		<key>uni0022</key>
		<integer>-50</integer>
		<key>uni0027</key>
		<integer>-50</integer>
		<key>uni002D</key>
		<integer>-40</integer>
		<key>uni0060</key>
		<integer>-50</integer>
		<key>uni041E</key>
		<integer>-50</integer>
		<key>uni0421</key>
		<integer>-50</integer>
		<key>uni0422</key>
		<integer>-80</integer>
		<key>uni0423</key>
		<integer>-100</integer>
		<key>uni0424</key>
		<integer>-50</integer>
		<key>uni0427</key>
		<integer>-100</integer>
		<key>uni042A</key>
		<integer>-50</integer>
		<key>uni042D</key>
		<integer>-50</integer>
		<key>uni2013</key>
		<integer>-40</integer>
		<key>uni2014</key>
		<integer>-40</integer>
		<key>uni2018</key>
		<integer>-50</integer>
		<key>uni2019</key>
		<integer>-50</integer>
		<key>uni201C</key>
		<integer>-50</integer>
		<key>uni201D</key>
		<integer>-50</integer>
	</dict>
	<key>uni0412</key>
	<dict>
		<key>uni0410</key>
		<integer>-30</integer>
		<key>uni0414</key>
		<integer>-30</integer>
		<key>uni0423</key>
		<integer>-30</integer>
		<key>uni0425</key>
		<integer>-30</integer>
	</dict>
	<key>uni0413</key>
	<dict>
		<key>uni0022</key>
		<integer>40</integer>
		<key>uni0027</key>
		<integer>40</integer>
		<key>uni002C</key>
		<integer>-70</integer>
		<key>uni002D</key>
		<integer>-50</integer>
		<key>uni002E</key>
		<integer>-70</integer>
		<key>uni0060</key>
		<integer>40</integer>
		<key>uni0410</key>
		<integer>-100</integer>
		<key>uni0414</key>
		<integer>-50</integer>
		<key>uni041B</key>
		<integer>-90</integer>
		<key>uni0424</key>
		<integer>-20</integer>
		<key>uni0451</key>
		<integer>-20</integer>
		<key>uni2013</key>
		<integer>-50</integer>
		<key>uni2014</key>
		<integer>-50</integer>
		<key>uni2018</key>
		<integer>40</integer>
		<key>uni2019</key>
		<integer>40</integer>
		<key>uni201A</key>
		<integer>-70</integer>
		<key>uni201C</key>
		<integer>40</integer>
		<key>uni201D</key>
		<integer>40</integer>
		<key>uni201E</key>
		<integer>-70</integer>
		<key>uni2026</key>
		<integer>-70</integer>
	</dict>
	<key>uni0414</key>
	<dict>
		<key>uni0410</key>
		<integer>-20</integer>
		<key>uni0414</key>
		<integer>50</integer>
	</dict>
	<key>uni0415</key>
	<dict>
		<key>uni0423</key>
		<integer>-30</integer>
		<key>uni0424</key>
		<integer>-30</integer>
		<key>uni0427</key>
		<integer>-30</integer>
		<key>uni042F</key>
		<integer>-30</integer>
	</dict>
	<key>uni0416</key>
	<dict>
		<key>uni002D</key>
		<integer>-20</integer>
		<key>uni041E</key>
		<integer>-20</integer>
		<key>uni0424</key>
		<integer>-50</integer>
		<key>uni2013</key>
		<integer>-20</integer>
		<key>uni2014</key>
		<integer>-20</integer>
	</dict>
	<key>uni0417</key>
	<dict>
		<key>uni0410</key>
		<integer>-30</integer>
		<key>uni0414</key>
		<integer>-30</integer>
		<key>uni0416</key>
		<integer>-30</integer>
		<key>uni0422</key>
		<integer>-30</integer>
		<key>uni0423</key>
		<integer>-60</integer>
		<key>uni0427</key>
		<integer>-60</integer>
		<key>uni042D</key>
		<integer>-30</integer>
	</dict>
	<key>uni041A</key>
	<dict>
		<key>uni002D</key>
		<integer>-40</integer>
		<key>uni041E</key>
		<integer>-30</integer>
		<key>uni0421</key>
		<integer>-30</integer>
		<key>uni0422</key>
		<integer>-30</integer>
		<key>uni0423</key>
		<integer>-30</integer>
		<key>uni0424</key>
		<integer>-30</integer>
		<key>uni0427</key>
		<integer>-30</integer>
		<key>uni042D</key>
		<integer>-30</integer>
		<key>uni2013</key>
		<integer>-40</integer>
		<key>uni2014</key>
		<integer>-40</integer>
	</dict>
	<key>uni041E</key>
	<dict>
		<key>uni0410</key>
		<integer>-40</integer>
		<key>uni0414</key>
		<integer>-30</integer>
		<key>uni0416</key>
		<integer>-20</integer>
		<key>uni041B</key>
		<integer>-30</integer>
		<key>uni0423</key>
		<integer>-40</integer>
		<key>uni0424</key>
		<integer>20</integer>
		<key>uni0425</key>
		<integer>-20</integer>
		<key>uni0427</key>
		<integer>-20</integer>
		<key>uni042F</key>
		<integer>-30</integer>
	</dict>
	<key>uni0420</key>
	<dict>
		<key>uni0022</key>
		<integer>50</integer>
		<key>uni0027</key>
		<integer>50</integer>
		<key>uni002C</key>
		<integer>-70</integer>
		<key>uni002E</key>
		<integer>-70</integer>
		<key>uni0060</key>
		<integer>50</integer>
		<key>uni0410</key>
		<integer>-100</integer>
		<key>uni0414</key>
		<integer>-60</integer>
		<key>uni041B</key>
		<integer>-100</integer>
		<key>uni0425</key>
		<integer>-30</integer>
		<key>uni0451</key>
		<integer>-20</integer>
		<key>uni2018</key>
		<integer>50</integer>
		<key>uni2019</key>
		<integer>50</integer>
		<key>uni201A</key>
		<integer>-70</integer>
		<key>uni201C</key>
		<integer>50</integer>
		<key>uni201D</key>
		<integer>50</integer>
		<key>uni201E</key>
		<integer>-70</integer>
		<key>uni2026</key>
		<integer>-70</integer>
	</dict>
	<key>uni0421</key>
	<dict>
		<key>uni0410</key>
		<integer>-40</integer>
		<key>uni0414</key>
		<integer>-40</integer>
		<key>uni041B</key>
		<integer>-40</integer>
		<key>uni0424</key>
		<integer>-20</integer>
		<key>uni042D</key>
		<integer>-30</integer>
		<key>uni0451</key>
		<integer>-20</integer>
	</dict>
	<key>uni0422</key>
	<dict>
		<key>uni0022</key>
		<integer>50</integer>
		<key>uni0027</key>
		<integer>50</integer>
		<key>uni002C</key>
		<integer>-50</integer>
		<key>uni002E</key>
		<integer>-50</integer>
		<key>uni0060</key>
		<integer>50</integer>
		<key>uni0410</key>
		<integer>-60</integer>
		<key>uni0414</key>
		<integer>-40</integer>
		<key>uni041B</key>
		<integer>-60</integer>
		<key>uni0451</key>
		<integer>-30</integer>
		<key>uni2018</key>
		<integer>50</integer>
		<key>uni2019</key>
		<integer>50</integer>
		<key>uni201A</key>
		<integer>-50</integer>
		<key>uni201C</key>
		<integer>50</integer>
		<key>uni201D</key>
		<integer>50</integer>
		<key>uni201E</key>
		<integer>-50</integer>
		<key>uni2026</key>
		<integer>-50</integer>
	</dict>
	<key>uni0423</key>
	<dict>
		<key>uni002C</key>
		<integer>-120</integer>
		<key>uni002D</key>
		<integer>-60</integer>
		<key>uni002E</key>
		<integer>-120</integer>
		<key>uni0410</key>
		<integer>-130</integer>
		<key>uni0414</key>
		<integer>-70</integer>
		<key>uni041B</key>
		<integer>-120</integer>
		<key>uni041E</key>
		<integer>-30</integer>
		<key>uni0421</key>
		<integer>-40</integer>
		<key>uni0424</key>
		<integer>-30</integer>
		<key>uni042F</key>
		<integer>-20</integer>
		<key>uni0451</key>
		<integer>-80</integer>
		<key>uni2013</key>
		<integer>-60</integer>
		<key>uni2014</key>
		<integer>-60</integer>
		<key>uni201A</key>
		<integer>-120</integer>
		<key>uni201E</key>
		<integer>-120</integer>
		<key>uni2026</key>
		<integer>-120</integer>
	</dict>
	<key>uni0424</key>
	<dict>
		<key>uni0410</key>
		<integer>-50</integer>
		<key>uni0414</key>
		<integer>-60</integer>
		<key>uni0416</key>
		<integer>-50</integer>
		<key>uni041B</key>
		<integer>-60</integer>
		<key>uni041E</key>
		<integer>20</integer>
		<key>uni0421</key>
		<integer>20</integer>
		<key>uni0423</key>
		<integer>-60</integer>
		<key>uni0424</key>
		<integer>20</integer>
		<key>uni0425</key>
		<integer>-60</integer>
		<key>uni042D</key>
		<integer>-20</integer>
		<key>uni042F</key>
		<integer>-39</integer>
	</dict>
	<key>uni0425</key>
	<dict>
		<key>uni041E</key>
		<integer>-20</integer>
		<key>uni0421</key>
		<integer>-20</integer>
		<key>uni0424</key>
		<integer>-30</integer>
		<key>uni0451</key>
		<integer>-20</integer>
	</dict>
	<key>uni042A</key>
	<dict>
		<key>uni0022</key>
		<integer>-40</integer>
		<key>uni0027</key>
		<integer>-40</integer>
		<key>uni0060</key>
		<integer>-40</integer>
		<key>uni0410</key>
		<integer>-30</integer>
		<key>uni0414</key>
		<integer>-30</integer>
		<key>uni0422</key>
		<integer>-40</integer>
		<key>uni0423</key>
		<integer>-50</integer>
		<key>uni0425</key>
		<integer>-30</integer>
		<key>uni0427</key>
		<integer>-60</integer>
		<key>uni042A</key>
		<integer>-30</integer>
		<key>uni2018</key>
		<integer>-40</integer>
		<key>uni2019</key>
		<integer>-40</integer>
		<key>uni201C</key>
		<integer>-40</integer>
		<key>uni201D</key>
		<integer>-40</integer>
	</dict>
	<key>uni042C</key>
	<dict>
		<key>uni0022</key>
		<integer>-40</integer>
		<key>uni0027</key>
		<integer>-40</integer>
		<key>uni0060</key>
		<integer>-40</integer>
		<key>uni0410</key>
		<integer>-30</integer>
		<key>uni0422</key>
		<integer>-30</integer>
		<key>uni0423</key>
		<integer>-60</integer>
		<key>uni0425</key>
		<integer>-30</integer>
		<key>uni0427</key>
		<integer>-50</integer>
		<key>uni042A</key>
		<integer>-20</integer>
		<key>uni2018</key>
		<integer>-40</integer>
		<key>uni2019</key>
		<integer>-40</integer>
		<key>uni201C</key>
		<integer>-40</integer>
		<key>uni201D</key>
		<integer>-40</integer>
	</dict>
	<key>uni042D</key>
	<dict>
		<key>uni0410</key>
		<integer>-40</integer>
		<key>uni0414</key>
		<integer>-30</integer>
		<key>uni041B</key>
		<integer>-30</integer>
		<key>uni0423</key>
		<integer>-30</integer>
		<key>uni0424</key>
		<integer>20</integer>
		<key>uni0425</key>
		<integer>-20</integer>
	</dict>
	<key>uni042E</key>
	<dict>
		<key>uni0410</key>
		<integer>-20</integer>
		<key>uni0423</key>
		<integer>-20</integer>
		<key>uni0424</key>
		<integer>20</integer>
		<key>uni0425</key>
		<integer>-20</integer>
	</dict>
	<key>uni2013</key>
	<dict>
		<key>uni0034</key>
		<integer>-40</integer>
		<key>uni0041</key>
		<integer>-40</integer>
		<key>uni0054</key>
		<integer>-40</integer>
		<key>uni0056</key>
		<integer>-60</integer>
		<key>uni0057</key>
		<integer>-60</integer>
		<key>uni0058</key>
		<integer>-40</integer>
		<key>uni0410</key>
		<integer>-40</integer>
		<key>uni0414</key>
		<integer>-30</integer>
		<key>uni041B</key>
		<integer>-30</integer>
		<key>uni0423</key>
		<integer>-40</integer>
		<key>uni0425</key>
		<integer>-40</integer>
	</dict>
	<key>uni2014</key>
	<dict>
		<key>uni0034</key>
		<integer>-40</integer>
		<key>uni0041</key>
		<integer>-40</integer>
		<key>uni0054</key>
		<integer>-40</integer>
		<key>uni0056</key>
		<integer>-60</integer>
		<key>uni0057</key>
		<integer>-60</integer>
		<key>uni0058</key>
		<integer>-40</integer>
		<key>uni0410</key>
		<integer>-40</integer>
		<key>uni0414</key>
		<integer>-30</integer>
		<key>uni041B</key>
		<integer>-30</integer>
		<key>uni0423</key>
		<integer>-40</integer>
		<key>uni0425</key>
		<integer>-40</integer>
	</dict>
	<key>uni2018</key>
	<dict>
		<key>uni0034</key>
		<integer>-100</integer>
		<key>uni0041</key>
		<integer>-60</integer>
		<key>uni0054</key>
		<integer>50</integer>
		<key>uni005A</key>
		<integer>50</integer>
		<key>uni0410</key>
		<integer>-50</integer>
		<key>uni0414</key>
		<integer>-30</integer>
		<key>uni041B</key>
		<integer>-100</integer>
		<key>uni0422</key>
		<integer>50</integer>
	</dict>
	<key>uni2019</key>
	<dict>
		<key>uni0034</key>
		<integer>-100</integer>
		<key>uni0041</key>
		<integer>-60</integer>
		<key>uni0054</key>
		<integer>50</integer>
		<key>uni005A</key>
		<integer>50</integer>
		<key>uni0410</key>
		<integer>-50</integer>
		<key>uni0414</key>
		<integer>-30</integer>
		<key>uni041B</key>
		<integer>-100</integer>
		<key>uni0422</key>
		<integer>50</integer>
	</dict>
	<key>uni201C</key>
	<dict>
		<key>uni0034</key>
		<integer>-100</integer>
		<key>uni0041</key>
		<integer>-60</integer>
		<key>uni0054</key>
		<integer>50</integer>
		<key>uni005A</key>
		<integer>50</integer>
		<key>uni0410</key>
		<integer>-50</integer>
		<key>uni0414</key>
		<integer>-30</integer>
		<key>uni041B</key>
		<integer>-100</integer>
		<key>uni0422</key>
		<integer>50</integer>
	</dict>
	<key>uni201D</key>
	<dict>
		<key>uni0034</key>
		<integer>-100</integer>
		<key>uni0041</key>
		<integer>-60</integer>
		<key>uni0054</key>
		<integer>50</integer>
		<key>uni005A</key>
		<integer>50</integer>
		<key>uni0410</key>
		<integer>-50</integer>
		<key>uni0414</key>
		<integer>-30</integer>
		<key>uni041B</key>
		<integer>-100</integer>
		<key>uni0422</key>
		<integer>50</integer>
	</dict>
</dict>
</plist>
