<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
      <a id="forkme_banner" href="https://github.com/sugarlabs/font-editor-activity">
        Check The GitHub Repository
      </a>
      <h1 id="project_title">
        <a href="{{ site.baseurl }}/">
          Sugar Font Editor Activity
        </a>
      </h1>
      <h2 id="project_tagline">
        <a href="{{ site.baseurl }}/">
          Kids Make Fonts
        </a>
      </h2>
      <!--
        <section id="downloads">
          <a class="zip_download_link" href="https://github.com/sugarlabs/font-editor-activity/zipball/master">
            Download this project as a .zip file
          </a>
          <a class="tar_download_link" href="https://github.com/sugarlabs/font-editor-activity/tarball/master">
            Download this project as a tar.gz file
          </a>
        </section>
      -->
    </header>
</div>
