<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1075</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>Copyright (c) 2016 by Typetype. Designer Ivan Gladkikh, technical designers Maria Mizernitskaya. All rights reserved.</string>
	<key>descender</key>
	<integer>-350</integer>
	<key>familyName</key>
	<string>TT Coats Light DEMO</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>openTypeHeadCreated</key>
	<string>2016/04/29 11:02:00</string>
	<key>openTypeHeadFlags</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>3</integer>
	<key>openTypeHheaAscender</key>
	<integer>1075</integer>
	<key>openTypeHheaCaretOffset</key>
	<integer>0</integer>
	<key>openTypeHheaCaretSlopeRise</key>
	<integer>1</integer>
	<key>openTypeHheaCaretSlopeRun</key>
	<integer>0</integer>
	<key>openTypeHheaDescender</key>
	<integer>-350</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDescription</key>
	<string>Designed for Typetype in 2016 by Ivan Gladkikh. TT Coats is one of series of font families which were designed for use in web and mobile applications, print and multimedia environments. </string>
	<key>openTypeNameDesigner</key>
	<string>TypeType</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.typetype.ru/</string>
	<key>openTypeNameManufacturer</key>
	<string>TypeType</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.typetype.ru/</string>
	<key>openTypeNameUniqueID</key>
	<string>TypeType: TT Coats Light DEMO: 2016</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.000</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>2</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>3</integer>
	</array>
	<key>openTypeOS2Selection</key>
	<array>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>288</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>75</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>350</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2Type</key>
	<array>
		<integer>2</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1075</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-350</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>pyrs</string>
	<key>openTypeOS2WeightClass</key>
	<integer>300</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1075</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>350</integer>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptUnderlinePosition</key>
	<integer>-75</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>styleMapFamilyName</key>
	<string>TT Coats Light DEMO</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>TT Coats is a trademark of TypeType.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>480</integer>
</dict>
</plist>
