<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>D</string>
		<string>E</string>
		<string>G</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>T</string>
		<string>P</string>
		<string>V</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>U</string>
		<string>Z</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>Y</string>
		<string>W</string>
		<string>afii10018</string>
		<string>afii10020</string>
		<string>afii10046</string>
		<string>afii10026</string>
		<string>afii10024</string>
		<string>afii10047</string>
		<string>afii10033</string>
		<string>afii10029</string>
		<string>afii10021</string>
		<string>afii10040</string>
		<string>afii10041</string>
		<string>afii10044</string>
		<string>afii10045</string>
		<string>afii10042</string>
		<string>afii10043</string>
		<string>afii10048</string>
		<string>afii10049</string>
		<string>afii10038</string>
		<string>paragraph</string>
		<string>afii10025</string>
		<string>afii10027</string>
		<string>afii10037</string>
		<string>period</string>
		<string>exclam</string>
		<string>grave</string>
		<string>comma</string>
		<string>asciitilde</string>
		<string>bar</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>nine</string>
		<string>seven</string>
		<string>eight</string>
		<string>zero</string>
		<string>parenleft</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>slash</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>ellipsis</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>Euro</string>
		<string>perthousand</string>
		<string>guilsinglleft</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>bullet</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni20BD</string>
		<string>trademark</string>
		<string>guilsinglright</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>copyright</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>uni00AD</string>
		<string>registered</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>mu</string>
		<string>periodcentered</string>
		<string>afii61352</string>
		<string>guillemotright</string>
		<string>O</string>
		<string>X</string>
		<string>foundryicon</string>
		<string>hyphen</string>
		<string>A</string>
		<string>H</string>
		<string>afii10030</string>
		<string>afii10019</string>
		<string>afii10028</string>
		<string>afii10031</string>
		<string>afii10032</string>
		<string>afii10034</string>
		<string>afii10035</string>
		<string>afii10036</string>
		<string>afii10039</string>
		<string>afii10022</string>
		<string>afii10017</string>
		<string>afii10071</string>
		<string>afii10023</string>
		<string>F</string>
		<string>nbspace</string>
		<string>B</string>
		<string>C</string>
		<string>afii10065</string>
		<string>afii10066</string>
		<string>afii10067</string>
		<string>afii10068</string>
		<string>afii10069</string>
		<string>afii10070</string>
		<string>afii10072</string>
		<string>afii10073</string>
		<string>afii10074</string>
		<string>afii10075</string>
		<string>afii10076</string>
		<string>afii10077</string>
		<string>afii10078</string>
		<string>afii10079</string>
		<string>afii10080</string>
		<string>afii10081</string>
		<string>afii10082</string>
		<string>afii10083</string>
		<string>afii10084</string>
		<string>afii10085</string>
		<string>afii10086</string>
		<string>afii10087</string>
		<string>afii10088</string>
		<string>afii10089</string>
		<string>afii10090</string>
		<string>afii10091</string>
		<string>afii10092</string>
		<string>afii10093</string>
		<string>afii10094</string>
		<string>afii10095</string>
		<string>afii10096</string>
		<string>afii10097</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
	</array>
</dict>
</plist>
