<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-40</integer>
		<key>G</key>
		<integer>-40</integer>
		<key>J</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>-40</integer>
		<key>Q</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-80</integer>
		<key>U</key>
		<integer>-80</integer>
		<key>V</key>
		<integer>-140</integer>
		<key>W</key>
		<integer>-140</integer>
		<key>Y</key>
		<integer>-120</integer>
		<key>emdash</key>
		<integer>-60</integer>
		<key>endash</key>
		<integer>-60</integer>
		<key>grave</key>
		<integer>-60</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>quotedbl</key>
		<integer>-60</integer>
		<key>quotedblleft</key>
		<integer>-60</integer>
		<key>quotedblright</key>
		<integer>-60</integer>
		<key>quoteleft</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-60</integer>
		<key>quotesingle</key>
		<integer>-60</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>Y</key>
		<integer>-40</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-40</integer>
		<key>U</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-40</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>Y</key>
		<integer>-40</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-80</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>ellipsis</key>
		<integer>-60</integer>
		<key>grave</key>
		<integer>50</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>quotedbl</key>
		<integer>50</integer>
		<key>quotedblbase</key>
		<integer>-60</integer>
		<key>quotedblleft</key>
		<integer>50</integer>
		<key>quotedblright</key>
		<integer>50</integer>
		<key>quoteleft</key>
		<integer>50</integer>
		<key>quoteright</key>
		<integer>50</integer>
		<key>quotesinglbase</key>
		<integer>-60</integer>
		<key>quotesingle</key>
		<integer>50</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-40</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>C</key>
		<integer>-30</integer>
		<key>G</key>
		<integer>-30</integer>
		<key>O</key>
		<integer>-30</integer>
		<key>Q</key>
		<integer>-30</integer>
		<key>U</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>emdash</key>
		<integer>-40</integer>
		<key>endash</key>
		<integer>-40</integer>
		<key>hyphen</key>
		<integer>-40</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-40</integer>
		<key>U</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-80</integer>
		<key>W</key>
		<integer>-80</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>grave</key>
		<integer>-60</integer>
		<key>quotedbl</key>
		<integer>-60</integer>
		<key>quotedblleft</key>
		<integer>-60</integer>
		<key>quotedblright</key>
		<integer>-60</integer>
		<key>quoteleft</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-60</integer>
		<key>quotesingle</key>
		<integer>-60</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<integer>-60</integer>
		<key>X</key>
		<integer>-40</integer>
		<key>Y</key>
		<integer>-40</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>ellipsis</key>
		<integer>-60</integer>
		<key>grave</key>
		<integer>50</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>quotedbl</key>
		<integer>50</integer>
		<key>quotedblbase</key>
		<integer>-60</integer>
		<key>quotedblleft</key>
		<integer>50</integer>
		<key>quotedblright</key>
		<integer>50</integer>
		<key>quoteleft</key>
		<integer>50</integer>
		<key>quoteright</key>
		<integer>50</integer>
		<key>quotesinglbase</key>
		<integer>-60</integer>
		<key>quotesingle</key>
		<integer>50</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<integer>-60</integer>
		<key>Y</key>
		<integer>-60</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>J</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<integer>-60</integer>
		<key>Y</key>
		<integer>-60</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>I</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<integer>-60</integer>
		<key>Y</key>
		<integer>-60</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>ellipsis</key>
		<integer>-60</integer>
		<key>emdash</key>
		<integer>-40</integer>
		<key>endash</key>
		<integer>-40</integer>
		<key>grave</key>
		<integer>50</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>quotedbl</key>
		<integer>50</integer>
		<key>quotedblbase</key>
		<integer>-60</integer>
		<key>quotedblleft</key>
		<integer>50</integer>
		<key>quotedblright</key>
		<integer>50</integer>
		<key>quoteleft</key>
		<integer>50</integer>
		<key>quoteright</key>
		<integer>50</integer>
		<key>quotesinglbase</key>
		<integer>-60</integer>
		<key>quotesingle</key>
		<integer>50</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-140</integer>
		<key>C</key>
		<integer>-40</integer>
		<key>G</key>
		<integer>-30</integer>
		<key>O</key>
		<integer>-30</integer>
		<key>Q</key>
		<integer>-30</integer>
		<key>S</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>ellipsis</key>
		<integer>-100</integer>
		<key>emdash</key>
		<integer>-60</integer>
		<key>endash</key>
		<integer>-60</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>quotedblbase</key>
		<integer>-100</integer>
		<key>quotesinglbase</key>
		<integer>-100</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-120</integer>
		<key>C</key>
		<integer>-40</integer>
		<key>G</key>
		<integer>-40</integer>
		<key>O</key>
		<integer>-40</integer>
		<key>Q</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>ellipsis</key>
		<integer>-100</integer>
		<key>emdash</key>
		<integer>-60</integer>
		<key>endash</key>
		<integer>-60</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>quotedblbase</key>
		<integer>-100</integer>
		<key>quotesinglbase</key>
		<integer>-100</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>C</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>emdash</key>
		<integer>-60</integer>
		<key>endash</key>
		<integer>-60</integer>
		<key>hyphen</key>
		<integer>-60</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>C</key>
		<integer>-40</integer>
		<key>G</key>
		<integer>-40</integer>
		<key>O</key>
		<integer>-40</integer>
		<key>Q</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>ellipsis</key>
		<integer>-60</integer>
		<key>emdash</key>
		<integer>-60</integer>
		<key>endash</key>
		<integer>-60</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>quotedblbase</key>
		<integer>-60</integer>
		<key>quotesinglbase</key>
		<integer>-60</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
	</dict>
	<key>afii10017</key>
	<dict>
		<key>afii10032</key>
		<integer>-50</integer>
		<key>afii10035</key>
		<integer>-50</integer>
		<key>afii10036</key>
		<integer>-80</integer>
		<key>afii10037</key>
		<integer>-100</integer>
		<key>afii10038</key>
		<integer>-50</integer>
		<key>afii10041</key>
		<integer>-100</integer>
		<key>afii10044</key>
		<integer>-50</integer>
		<key>afii10047</key>
		<integer>-50</integer>
		<key>emdash</key>
		<integer>-40</integer>
		<key>endash</key>
		<integer>-40</integer>
		<key>grave</key>
		<integer>-50</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>quotedbl</key>
		<integer>-50</integer>
		<key>quotedblleft</key>
		<integer>-50</integer>
		<key>quotedblright</key>
		<integer>-50</integer>
		<key>quoteleft</key>
		<integer>-50</integer>
		<key>quoteright</key>
		<integer>-50</integer>
		<key>quotesingle</key>
		<integer>-50</integer>
	</dict>
	<key>afii10019</key>
	<dict>
		<key>afii10017</key>
		<integer>-30</integer>
		<key>afii10021</key>
		<integer>-30</integer>
		<key>afii10037</key>
		<integer>-30</integer>
		<key>afii10039</key>
		<integer>-30</integer>
	</dict>
	<key>afii10020</key>
	<dict>
		<key>afii10017</key>
		<integer>-100</integer>
		<key>afii10021</key>
		<integer>-50</integer>
		<key>afii10029</key>
		<integer>-90</integer>
		<key>afii10038</key>
		<integer>-20</integer>
		<key>afii10071</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>ellipsis</key>
		<integer>-70</integer>
		<key>emdash</key>
		<integer>-50</integer>
		<key>endash</key>
		<integer>-50</integer>
		<key>grave</key>
		<integer>40</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-70</integer>
		<key>quotedbl</key>
		<integer>40</integer>
		<key>quotedblbase</key>
		<integer>-70</integer>
		<key>quotedblleft</key>
		<integer>40</integer>
		<key>quotedblright</key>
		<integer>40</integer>
		<key>quoteleft</key>
		<integer>40</integer>
		<key>quoteright</key>
		<integer>40</integer>
		<key>quotesinglbase</key>
		<integer>-70</integer>
		<key>quotesingle</key>
		<integer>40</integer>
	</dict>
	<key>afii10021</key>
	<dict>
		<key>afii10017</key>
		<integer>-20</integer>
		<key>afii10021</key>
		<integer>50</integer>
	</dict>
	<key>afii10022</key>
	<dict>
		<key>afii10037</key>
		<integer>-30</integer>
		<key>afii10038</key>
		<integer>-30</integer>
		<key>afii10041</key>
		<integer>-30</integer>
		<key>afii10049</key>
		<integer>-30</integer>
	</dict>
	<key>afii10023</key>
	<dict>
		<key>afii10037</key>
		<integer>-20</integer>
		<key>afii10038</key>
		<integer>-20</integer>
	</dict>
	<key>afii10024</key>
	<dict>
		<key>afii10032</key>
		<integer>-20</integer>
		<key>afii10038</key>
		<integer>-50</integer>
		<key>emdash</key>
		<integer>-20</integer>
		<key>endash</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-20</integer>
	</dict>
	<key>afii10025</key>
	<dict>
		<key>afii10017</key>
		<integer>-30</integer>
		<key>afii10021</key>
		<integer>-30</integer>
		<key>afii10024</key>
		<integer>-30</integer>
		<key>afii10036</key>
		<integer>-30</integer>
		<key>afii10037</key>
		<integer>-60</integer>
		<key>afii10041</key>
		<integer>-60</integer>
		<key>afii10047</key>
		<integer>-30</integer>
	</dict>
	<key>afii10028</key>
	<dict>
		<key>afii10032</key>
		<integer>-30</integer>
		<key>afii10035</key>
		<integer>-30</integer>
		<key>afii10036</key>
		<integer>-30</integer>
		<key>afii10037</key>
		<integer>-30</integer>
		<key>afii10038</key>
		<integer>-30</integer>
		<key>afii10041</key>
		<integer>-30</integer>
		<key>afii10047</key>
		<integer>-30</integer>
		<key>emdash</key>
		<integer>-40</integer>
		<key>endash</key>
		<integer>-40</integer>
		<key>hyphen</key>
		<integer>-40</integer>
	</dict>
	<key>afii10032</key>
	<dict>
		<key>afii10017</key>
		<integer>-40</integer>
		<key>afii10021</key>
		<integer>-30</integer>
		<key>afii10024</key>
		<integer>-20</integer>
		<key>afii10029</key>
		<integer>-30</integer>
		<key>afii10037</key>
		<integer>-40</integer>
		<key>afii10038</key>
		<integer>20</integer>
		<key>afii10039</key>
		<integer>-20</integer>
		<key>afii10041</key>
		<integer>-20</integer>
		<key>afii10049</key>
		<integer>-30</integer>
	</dict>
	<key>afii10034</key>
	<dict>
		<key>afii10017</key>
		<integer>-100</integer>
		<key>afii10021</key>
		<integer>-60</integer>
		<key>afii10029</key>
		<integer>-100</integer>
		<key>afii10039</key>
		<integer>-30</integer>
		<key>afii10071</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>ellipsis</key>
		<integer>-70</integer>
		<key>grave</key>
		<integer>50</integer>
		<key>period</key>
		<integer>-70</integer>
		<key>quotedbl</key>
		<integer>50</integer>
		<key>quotedblbase</key>
		<integer>-70</integer>
		<key>quotedblleft</key>
		<integer>50</integer>
		<key>quotedblright</key>
		<integer>50</integer>
		<key>quoteleft</key>
		<integer>50</integer>
		<key>quoteright</key>
		<integer>50</integer>
		<key>quotesinglbase</key>
		<integer>-70</integer>
		<key>quotesingle</key>
		<integer>50</integer>
	</dict>
	<key>afii10035</key>
	<dict>
		<key>afii10017</key>
		<integer>-40</integer>
		<key>afii10021</key>
		<integer>-40</integer>
		<key>afii10029</key>
		<integer>-40</integer>
		<key>afii10038</key>
		<integer>-20</integer>
		<key>afii10047</key>
		<integer>-30</integer>
		<key>afii10071</key>
		<integer>-20</integer>
	</dict>
	<key>afii10036</key>
	<dict>
		<key>afii10017</key>
		<integer>-60</integer>
		<key>afii10021</key>
		<integer>-40</integer>
		<key>afii10029</key>
		<integer>-60</integer>
		<key>afii10071</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>ellipsis</key>
		<integer>-50</integer>
		<key>grave</key>
		<integer>50</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>quotedbl</key>
		<integer>50</integer>
		<key>quotedblbase</key>
		<integer>-50</integer>
		<key>quotedblleft</key>
		<integer>50</integer>
		<key>quotedblright</key>
		<integer>50</integer>
		<key>quoteleft</key>
		<integer>50</integer>
		<key>quoteright</key>
		<integer>50</integer>
		<key>quotesinglbase</key>
		<integer>-50</integer>
		<key>quotesingle</key>
		<integer>50</integer>
	</dict>
	<key>afii10037</key>
	<dict>
		<key>afii10017</key>
		<integer>-130</integer>
		<key>afii10021</key>
		<integer>-70</integer>
		<key>afii10029</key>
		<integer>-120</integer>
		<key>afii10032</key>
		<integer>-30</integer>
		<key>afii10035</key>
		<integer>-40</integer>
		<key>afii10038</key>
		<integer>-30</integer>
		<key>afii10049</key>
		<integer>-20</integer>
		<key>afii10071</key>
		<integer>-80</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>ellipsis</key>
		<integer>-120</integer>
		<key>emdash</key>
		<integer>-60</integer>
		<key>endash</key>
		<integer>-60</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-120</integer>
		<key>quotedblbase</key>
		<integer>-120</integer>
		<key>quotesinglbase</key>
		<integer>-120</integer>
	</dict>
	<key>afii10038</key>
	<dict>
		<key>afii10017</key>
		<integer>-50</integer>
		<key>afii10021</key>
		<integer>-60</integer>
		<key>afii10024</key>
		<integer>-50</integer>
		<key>afii10029</key>
		<integer>-60</integer>
		<key>afii10032</key>
		<integer>20</integer>
		<key>afii10035</key>
		<integer>20</integer>
		<key>afii10037</key>
		<integer>-60</integer>
		<key>afii10038</key>
		<integer>20</integer>
		<key>afii10039</key>
		<integer>-60</integer>
		<key>afii10047</key>
		<integer>-20</integer>
		<key>afii10049</key>
		<integer>-39</integer>
	</dict>
	<key>afii10039</key>
	<dict>
		<key>afii10032</key>
		<integer>-20</integer>
		<key>afii10035</key>
		<integer>-20</integer>
		<key>afii10038</key>
		<integer>-30</integer>
		<key>afii10071</key>
		<integer>-20</integer>
	</dict>
	<key>afii10044</key>
	<dict>
		<key>afii10017</key>
		<integer>-30</integer>
		<key>afii10021</key>
		<integer>-30</integer>
		<key>afii10036</key>
		<integer>-40</integer>
		<key>afii10037</key>
		<integer>-50</integer>
		<key>afii10039</key>
		<integer>-30</integer>
		<key>afii10041</key>
		<integer>-60</integer>
		<key>afii10044</key>
		<integer>-30</integer>
		<key>grave</key>
		<integer>-40</integer>
		<key>quotedbl</key>
		<integer>-40</integer>
		<key>quotedblleft</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-40</integer>
		<key>quoteleft</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>quotesingle</key>
		<integer>-40</integer>
	</dict>
	<key>afii10046</key>
	<dict>
		<key>afii10017</key>
		<integer>-30</integer>
		<key>afii10036</key>
		<integer>-30</integer>
		<key>afii10037</key>
		<integer>-60</integer>
		<key>afii10039</key>
		<integer>-30</integer>
		<key>afii10041</key>
		<integer>-50</integer>
		<key>afii10044</key>
		<integer>-20</integer>
		<key>grave</key>
		<integer>-40</integer>
		<key>quotedbl</key>
		<integer>-40</integer>
		<key>quotedblleft</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-40</integer>
		<key>quoteleft</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>quotesingle</key>
		<integer>-40</integer>
	</dict>
	<key>afii10047</key>
	<dict>
		<key>afii10017</key>
		<integer>-40</integer>
		<key>afii10021</key>
		<integer>-30</integer>
		<key>afii10029</key>
		<integer>-30</integer>
		<key>afii10037</key>
		<integer>-30</integer>
		<key>afii10038</key>
		<integer>20</integer>
		<key>afii10039</key>
		<integer>-20</integer>
	</dict>
	<key>afii10048</key>
	<dict>
		<key>afii10017</key>
		<integer>-20</integer>
		<key>afii10037</key>
		<integer>-20</integer>
		<key>afii10038</key>
		<integer>20</integer>
		<key>afii10039</key>
		<integer>-20</integer>
	</dict>
	<key>emdash</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<integer>-60</integer>
		<key>X</key>
		<integer>-40</integer>
		<key>afii10017</key>
		<integer>-40</integer>
		<key>afii10021</key>
		<integer>-30</integer>
		<key>afii10029</key>
		<integer>-30</integer>
		<key>afii10037</key>
		<integer>-40</integer>
		<key>afii10039</key>
		<integer>-40</integer>
		<key>four</key>
		<integer>-40</integer>
	</dict>
	<key>endash</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<integer>-60</integer>
		<key>X</key>
		<integer>-40</integer>
		<key>afii10017</key>
		<integer>-40</integer>
		<key>afii10021</key>
		<integer>-30</integer>
		<key>afii10029</key>
		<integer>-30</integer>
		<key>afii10037</key>
		<integer>-40</integer>
		<key>afii10039</key>
		<integer>-40</integer>
		<key>four</key>
		<integer>-40</integer>
	</dict>
	<key>grave</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>T</key>
		<integer>50</integer>
		<key>Z</key>
		<integer>50</integer>
		<key>afii10017</key>
		<integer>-50</integer>
		<key>afii10021</key>
		<integer>-30</integer>
		<key>afii10029</key>
		<integer>-100</integer>
		<key>afii10036</key>
		<integer>50</integer>
		<key>four</key>
		<integer>-100</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<integer>-60</integer>
		<key>X</key>
		<integer>-40</integer>
		<key>afii10017</key>
		<integer>-40</integer>
		<key>afii10021</key>
		<integer>-30</integer>
		<key>afii10029</key>
		<integer>-30</integer>
		<key>afii10037</key>
		<integer>-40</integer>
		<key>afii10039</key>
		<integer>-40</integer>
		<key>four</key>
		<integer>-40</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>grave</key>
		<integer>-30</integer>
		<key>quotedbl</key>
		<integer>-30</integer>
		<key>quotedblleft</key>
		<integer>-30</integer>
		<key>quotedblright</key>
		<integer>-30</integer>
		<key>quoteleft</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-30</integer>
		<key>quotesingle</key>
		<integer>-30</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>T</key>
		<integer>50</integer>
		<key>Z</key>
		<integer>50</integer>
		<key>afii10017</key>
		<integer>-50</integer>
		<key>afii10021</key>
		<integer>-30</integer>
		<key>afii10029</key>
		<integer>-100</integer>
		<key>afii10036</key>
		<integer>50</integer>
		<key>four</key>
		<integer>-100</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>T</key>
		<integer>50</integer>
		<key>Z</key>
		<integer>50</integer>
		<key>afii10017</key>
		<integer>-50</integer>
		<key>afii10021</key>
		<integer>-30</integer>
		<key>afii10029</key>
		<integer>-100</integer>
		<key>afii10036</key>
		<integer>50</integer>
		<key>four</key>
		<integer>-100</integer>
	</dict>
	<key>quotedblright</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>T</key>
		<integer>50</integer>
		<key>Z</key>
		<integer>50</integer>
		<key>afii10017</key>
		<integer>-50</integer>
		<key>afii10021</key>
		<integer>-30</integer>
		<key>afii10029</key>
		<integer>-100</integer>
		<key>afii10036</key>
		<integer>50</integer>
		<key>four</key>
		<integer>-100</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>T</key>
		<integer>50</integer>
		<key>Z</key>
		<integer>50</integer>
		<key>afii10017</key>
		<integer>-50</integer>
		<key>afii10021</key>
		<integer>-30</integer>
		<key>afii10029</key>
		<integer>-100</integer>
		<key>afii10036</key>
		<integer>50</integer>
		<key>four</key>
		<integer>-100</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>T</key>
		<integer>50</integer>
		<key>Z</key>
		<integer>50</integer>
		<key>afii10017</key>
		<integer>-50</integer>
		<key>afii10021</key>
		<integer>-30</integer>
		<key>afii10029</key>
		<integer>-100</integer>
		<key>afii10036</key>
		<integer>50</integer>
		<key>four</key>
		<integer>-100</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>T</key>
		<integer>50</integer>
		<key>Z</key>
		<integer>50</integer>
		<key>afii10017</key>
		<integer>-50</integer>
		<key>afii10021</key>
		<integer>-30</integer>
		<key>afii10029</key>
		<integer>-100</integer>
		<key>afii10036</key>
		<integer>50</integer>
		<key>four</key>
		<integer>-100</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>four</key>
		<integer>-50</integer>
	</dict>
</dict>
</plist>
